@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 80 px;
    color: black;
}

h2{
    font-family: 'Poppins', sans-serif;
    font-size: 60 px;
    color: black; 
}

h1{
    font-family: 'Lobster', cursive;
    font-size: 200 px;
    color: rgb(236, 29, 157);
}


	
.btn-default
{ 
background-color: rgb(236, 29, 157);
color:#FFF;
}


